.cardList {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    justify-content: space-between;
    justify-items: center;
    padding: 5px;
    margin: 20px;
    height: 97%;
  
    .card {
      height: 380px;
      width: 100%;
    }
  }
  
