.cards {
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    grid-gap: 5px;
    justify-content: space-between;
    
    padding: 5px;
  
    .card {
      height: 400px;
      width: 275px;
    }
  }
  
