@import "../../variables.scss";

.beerCard {
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 600px;
  position: relative;
  z-index: 0;
  text-align: center;
  
  &.faceDown {
    transform: rotateY(180deg);
  }

  .front {
    position: absolute;
    height: 400px;
    width: 275px;
    backface-visibility: hidden;
  }

  .back {
    position: relative;
    height: 400px; 
    width: 275px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
}
