@import '../../variables.scss';

.cardBack {
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .beerInfo{
        height: 100%;
        width: 75%;

        h1{
            font-size: 2.5rem;
            margin: 25% 0;
            width: 100%;
        }

        h4{
            margin: 25% 0;
            width: 100%;
            font-style: italic;
            font-size: 1.2rem;
        }
    }

    .descriptionContainer{
        height: 45%;
        width: 100%;
        overflow: scroll;

        p{
            line-height: 1.3;
            text-align: justify;
            letter-spacing: 0.03em;
        }
        
    }
}