$primary-color:rgb(247,247,247); 
$secondary-color: rgb(35,37,38);
$tertiary-color: rgb(42,167,205);

$primary-color-transparent: rgba(247, 247, 247, 0.85);
$secondary-color-transparent: rgba(35, 37, 38, 0.85);
$tertiary-color-transparent: rgba(42, 167, 205, 0.85);